if player choosse bat and computer chosse ball then player win and vice varsa also

if player choosse ball and computer chosse stamp then user  win and vice varsa

if player choosse stamp and computer chosse bat then player win and and vice varsa also

if user and computer chosse same then match is tie